
<table>
	<tr>
		<th>商品名</th>
		<th>価格</th>
		<th>数量</th>
		<th>合計</th>

	</tr>

<% @orders.each do |order| %>
		<tr>
			<%#<td text-align:center;><img height="80" src="<%=h item.good.image_url "/></td%> 
			<td text-align:center;><font size="4"><%= order.cd.cd_name %></font></td>
			<td text-align:center;><font size="4"><%= (order.cd.price).to_i %>円</font></td>
			<td text-align:center;><font size="4"><%= order.quantity %></font></td>
			<td text-align:center;><font size="4"><%= (order.total_price).to_i %>円</font></td>
			<%#<%= link_to "削除",cart_path(@cart) %>
		</tr>
		<tr>

			<td colspan="5"><font size="5">総計：<%= (order.cart.total_price).to_i %>円</font></td>
		</tr>
	</table>
<% end %>