<!DOCTYPE html>
<html>
  <head>
    <title>CDtsubuyakisan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_signed_in? && current_user.admin? %>
        <li class="">
              <%= link_to '管理者マイページ', admin_user_path(current_user.id),class: "mypage"  %>
        </li>
        <li class="">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %>
        </li>

    <% elsif user_signed_in? && !current_user.admin? %>
        <li class="">
          <%= link_to 'マイページ', public_user_path(current_user.id),class: "mypage"  %>
        </li>
        <li class="">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %>
        </li>

    <% else %>
        <li class="">
           <%= link_to "新規会員登録", new_user_registration_path, class: "sign_up" %>
        </li>
        <li class="">
          <%= link_to "ログイン", new_user_session_path, class: "sign_in" %>
        </li>
    <% end %>
    <%= yield %>


  </body>
</html>
